
/* Comment....  */

.ex-title{
    background-color: blueviolet;
    color: white;
}

.buttns{

    background-color: rgb(48, 45, 223); 
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;
    width: 200px;
}




